<!DOCTYPE hibernate-configuration PUBLIC
           "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
           "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

   <session-factory>

           <!-- JDBC Database connection settings -->
           <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
           <property name="connection.url">jdbc:mysql://localhost:3306/webapplication?useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=CONVERT_TO_NULL&amp;serverTimezone=GMT</property>
           <property name="connection.username">mantzarisvas</property>
           <property name="connection.password">Mantzaris13</property>

           <!-- JDBC connection pool settings ... using built-in test pool -->
           <!--  <property name="connection.pool_size">1</property>-->

           <!-- Select our SQL dialect -->
           <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

           <!-- Echo the SQL to stdout -->
           <property name="show_sql">true</property>

           <!-- Set the current session context -->
           <property name="current_session_context_class">thread</property>

       <!-- Set utf8 encoding -->
           <property name="hibernate.connection.CharSet">utf8</property>
           <property name="hibernate.connection.characterEncoding">utf8</property>
           <property name="hibernate.connection.useUnicode">true</property>
           
           <mapping class="gr.hua.ds.users.model.User" />
           <mapping class="gr.hua.ds.users.model.Department" />
           <mapping class="gr.hua.ds.users.model.Authority" />
           <mapping class="gr.hua.ds.users.model.UserInformation" />
           <mapping class="gr.hua.ds.users.model.Application" />

   </session-factory>

</hibernate-configuration>
